[submodule "mastering_ros_demo_pkg"]
	path = mastering_ros_demo_pkg
	url = https://github.com/jocacace/mastering_ros_demo_pkg
[submodule "mastering_ros_robot_description_pkg"]
	path = mastering_ros_robot_description_pkg
	url = https://github.com/jocacace/mastering_ros_robot_description_pkg
[submodule "seven_dof_arm_gazebo"]
	path = seven_dof_arm_gazebo
	url = https://github.com/jocacace/seven_dof_arm_gazebo
[submodule "diff_wheeled_robot_gazebo"]
	path = diff_wheeled_robot_gazebo
	url = https://github.com/jocacace/diff_wheeled_robot_gazebo
[submodule "diff_wheeled_robot_control"]
	path = diff_wheeled_robot_control
	url = https://github.com/jocacace/diff_wheeled_robot_control
