[submodule "mastering_ros_demo_pkg"]
	path = mastering_ros_demo_pkg
	url = https://github.com/jocacace/mastering_ros_demo_pkg
[submodule "seven_dof_arm_gazebo"]
	path = seven_dof_arm_gazebo
	url = https://github.com/jocacace/seven_dof_arm_gazebo
[submodule "diff_wheeled_robot_gazebo"]
	path = diff_wheeled_robot_gazebo
	url = https://github.com/jocacace/diff_wheeled_robot_gazebo
[submodule "diff_wheeled_robot_control"]
	path = diff_wheeled_robot_control
	url = https://github.com/jocacace/diff_wheeled_robot_control
[submodule "seven_dof_arm_config"]
	path = seven_dof_arm_config
	url = https://github.com/jocacace/seven_dof_arm_config
[submodule "nodelet_hello_world"]
	path = nodelet_hello_world
	url = https://github.com/jocacace/nodelet_hello_world
[submodule "plugin_calculator"]
	path = plugin_calculator
	url = https://github.com/jocacace/plugin_calculator
[submodule "gazebo_basic_world_plugin"]
	path = gazebo_basic_world_plugin
	url = https://github.com/jocacace/gazebo_basic_world_plugin
[submodule "vrep_plugin"]
	path = vrep_plugin
	url = https://github.com/jocacace/vrep_plugin
[submodule "vrep_common"]
	path = vrep_common
	url = https://github.com/jocacace/vrep_common
[submodule "vrep_demo_pkg"]
	path = vrep_demo_pkg
	url = https://github.com/jocacace/vrep_demo_pkg
[submodule "my_controller"]
	path = my_controller
	url = https://github.com/jocacace/my_controller
[submodule "rviz_teleop_commander"]
	path = rviz_teleop_commander
	url = https://github.com/jocacace/rviz_teleop_commander
[submodule "cv_bridge_tutorial_pkg"]
	path = cv_bridge_tutorial_pkg
	url = https://github.com/jocacace/cv_bridge_tutorial_pkg
[submodule "pcl_ros_tutorial"]
	path = pcl_ros_tutorial
	url = https://github.com/jocacace/pcl_ros_tutorial
[submodule "apriltags_ros_demo"]
	path = apriltags_ros_demo
	url = https://github.com/jocacace/apriltags_ros_demo
[submodule "ros_matlab_test"]
	path = ros_matlab_test
	url = https://github.com/jocacace/ros_matlab_test
[submodule "seven_dof_arm_test"]
	path = seven_dof_arm_test
	url = https://github.com/jocacace/seven_dof_arm_test.git
[submodule "mastering_ros_robot_description_pkg"]
	path = mastering_ros_robot_description_pkg
	url = https://github.com/jocacace/mastering_ros_robot_description_pkg
