[submodule "mastering_ros_demo_pkg"]
	path = mastering_ros_demo_pkg
	url = https://github.com/jocacace/mastering_ros_demo_pkg
[submodule "mastering_ros_robot_description_pkg"]
	path = mastering_ros_robot_description_pkg
	url = https://github.com/jocacace/mastering_ros_robot_description_pkg
[submodule "seven_dof_arm_gazebo"]
	path = seven_dof_arm_gazebo
	url = https://github.com/jocacace/seven_dof_arm_gazebo
[submodule "diff_wheeled_robot_gazebo"]
	path = diff_wheeled_robot_gazebo
	url = https://github.com/jocacace/diff_wheeled_robot_gazebo
[submodule "diff_wheeled_robot_control"]
	path = diff_wheeled_robot_control
	url = https://github.com/jocacace/diff_wheeled_robot_control
[submodule "seven_dof_arm_config"]
	path = seven_dof_arm_config
	url = https://github.com/jocacace/seven_dof_arm_config
[submodule "nodelet_hello_world"]
	path = nodelet_hello_world
	url = https://github.com/jocacace/nodelet_hello_world
[submodule "plugin_calculator"]
	path = plugin_calculator
	url = https://github.com/jocacace/plugin_calculator
[submodule "gazebo_basic_world_plugin"]
	path = gazebo_basic_world_plugin
	url = https://github.com/jocacace/gazebo_basic_world_plugin
